/* Type-colors from the official Pokemon site */
:root {
  --grass: #9bcc50;
  --grass-border: #638a28;
  --fire: #fd7d24;
  --fire-border: #b14b02;
  --water: #4592c4;
  --water-border: #255474;
  --poison: #b97fc9;
  --poison-border: #7e3c90;
  --bug: #729f3f;
  --bug-border: #34491d;
  --normal: #a4acaf;
  --normal-border: #6c767a;
  --flying: #7dc0d3;
  --flying-border: #3b93ab;
  --electric: #eed535;
  --electric-border: #a4900e;
  --ground: #ae9882;
  --ground-border: #6c5947;
  --fairy: #fdb9e9;
  --fairy-border: #fa52c7;
  --fighting: #d56723;
  --fighting-border: #6e3512;
  --psychic: #f366b9;
  --psychic-border: #d41183;
  --rock: #a38c21;
  --rock-border: #3f360d;
  --ice: #51c4e7;
  --ice-border: #188fb4;
  --ghost: #7b62a3;
  --ghost-border: #483960;
  --dragon: #a28993;
  --dragon-border: #644f57;
  --steel: #9eb7b8;
  --steel-border: #628384;
  --dark: #707070;
  --dark-border: #404040;
  --background: #ddeade;
  --pokeball-light: #d86d62;
  --pokeball-dark: #db3d2f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: var(--background);
  font-family: calibri, sans-serif;
}

header {
  height: 20svh;
  background-image: url(./images/PokedexPattern.png);
  background-size: 50svh;
  background-position: 4% 2%;
  background-color: var(--background);
  position: sticky;
  top: 0;

  display: flex;
  flex-direction: row;
}

#pokedexImg {
  height: 15svh;
  margin: 2svh 5svw;
}

/* 
main > 3*section
#searchSection
#typeGrid
#pokemonDisplay
*/

/* 
#pokemonSelect
  #genSelect
    button  .genBtn  .{gen}
  #typeGrid
    button  .typeBtn  .{type}
*/

/* 
#pokemonSelect {
  display: flex;
  flex-direction: row;
  gap: 20px;
} */

#genSelect {
  margin: 10svh auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px 20px;
}

#typeGrid {
  margin: 10svh auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 20px 25px;
}

.typeBtn,
.genBtn {
  padding: 10px;
  border-radius: 10px;
  border: 1.5px solid;
}

.resetBtn {
  background-color: var(--pokeball-light);
  border-color: var(--pokeball-dark);
}

button:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px rgb(60, 60, 60);
}

/*  
#pokemonDisplay
> article  .pokemonCard  .{type}
> > img  .pokemonImg
> > div  .pokemonTag
> > > p  .pokemonNumber
> > > p  .pokemonName
*/

#pokemonDisplay {
  width: 90svw;
  margin: 10svh auto;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.pokemonCard {
  /* width: 225px;
  height: 275px; */
  margin: 15px;
  padding: 15px;
  border: 3px solid;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.pokemonCard:hover {
  cursor: pointer;
}

.pokemonImg {
  width: 125px;
  height: 125px;
}

.pokemonTag {
  width: 120px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 3px;
}

.pokemonNumber {
  font-size: 1.1rem;
}

.pokemonName {
  font-size: 1.25rem;
}

/* Modal */

#close {
  width: 20px;
  height: 20px;

  border: 1px solid rgb(27, 27, 27);

  position: relative;
  top: 10%;
  left: 95%;

  text-align: center;
}

#close:hover {
  cursor: pointer;
}

#myModal {
  border: 2px solid;
  /* background-color: white; */
  position: fixed;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; */
  top: -100%;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  border-radius: 10px;
}

/*  */
.idArticle {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.modalID {
  font-family: monospace;
  font-size: 1.25rem;
}

.modalName {
  font-family: monospace;
  font-size: 1.5rem;
}

.modalImg {
  height: 250px;
  width: 250px;
}

.baseArticle {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  padding: 0.5rem;
}
